<figure class="text-center">
<% @articles.reverse_each do |article| %>
	<blockquote class="blockquote">
  	<p>
			<h3><%= link_to article.title, article_path(article) %></h3>
		 	<p><%= article.text %></p>
		</p>
    </blockquote>
		<figcaption class="blockquote-footer">
			<cite title="Source Title"><%= article.writer %> </cite>
		</figcaption>
    </p>
  <hr>
<% end %>

</figure>